#Matriz1{
    padding: 0px;
    width: 50%;
    height: auto;
    float: left;
    text-align: center;
}
#Matriz2{
    padding: 0px;
    width: 50%;
    height: auto;
    float: right;
    text-align: center;
}
.celda{
    width: 50px;
    height: 30px;
    font-size: xx-small;
}
#imprimir-orden1{
    width: 50%;
    text-align: center;
}
#imprimir-orden2{
    width: 50%;
    text-align: center;
}
#resultado{
    font-family: cursive;
    text-align: center;
}
#disTabla{
    padding: 0px;
    border-left: 3px solid rgb(193, 210, 255);
    border-right: 3px solid rgb(193, 210, 255);
}

.td{
    height: 30px;
    width: 30px;
    font-family: cursive;
    border: 1px solid rgb(193, 210, 255);
    text-align: center;
}
.parrafo{
    font-family: cursive;
}

#pMatriz1{
    background-color: black; 
    padding-top: 20px ;
    padding-bottom: 20px; 
    width : 100%;
    color:whitesmoke
}

#pMatriz2{
    background-color: black; 
    padding-top: 20px ;
    padding-bottom: 20px; 
    width : 100%;
    color:whitesmoke
}
 #btnSumar{
    margin-left:10%;
    width: 80%;
    border-radius: 20px;
    border-color:blueviolet;
    background-color:white;
}
#btnGuardar, #btnElegirOtroOrden, #btnRestarAB, #btnRestarBA, #btnGuardarBD{
    width: 100%;
    border-radius: 20px;
    border-color:blueviolet;
    background-color:white;
}

#btnMultiplicarAB{
    margin-right:10%;
    width: 80%;
    border-radius: 20px;
    border-color:blueviolet;
    background-color:white;
}