#Matriz1{
    padding: 0px;
    width: 50%;
    height: auto;
    float: left;
    text-align: center;
}

#Matriz2{
    padding: 0px;
    width: 50%;
    height: auto;
    float: right;
    text-align: center;
}
.celda{
    width: 50px;
    height: 30px;
    font-size: xx-small;
}
#imprimir-orden1{
    width: 50%;
    text-align: center;
}
#imprimir-orden2{
    width: 50%;
    text-align: center;
}
#resultado{
    font-family: cursive;
    text-align: center;
}
#disTabla{
    padding: 0px;
    border-left: 3px solid rgb(193, 210, 255);
    border-right: 3px solid rgb(193, 210, 255);
}

.td{
    height: 30px;
    font-family: cursive;
    border: 1px solid rgb(193, 210, 255);
    text-align: center;
}
.parrafo{
    font-family: cursive;
}

#pMatriz1{
    background-color: black; 
    padding-top: 20px ;
    padding-bottom: 20px; 
    width : 100%;
    color:whitesmoke
}

#pMatriz2{
    background-color: black; 
    padding-top: 20px ;
    padding-bottom: 20px; 
    width : 100%;
    color:whitesmoke
}
 #btnSumar{
    margin-left:10%;
    width: 80%;
    border-radius: 20px;
    border-color:blueviolet;
    background-color:white;
}
#btnGuardar, #btnElegirOtroOrden, #btnRestarAB, #btnRestarBA, #btnHistorial, #btnInicio{
    width: 100%;
    border-radius: 20px;
    border-color:blueviolet;
    background-color:white;
}

 .btnVisualizar{
    width: 80%;
    border-radius: 20px;
    border-color:blueviolet;
    background-color:rgb(200, 161, 226);
}

#btnSumar:hover,
#btnGuardar:hover,
#btnElegirOtroOrden:hover,
#btnRestarAB:hover,
#btnRestarBA:hover,
#btnMultiplicarAB:hover,
#btnHistorial:hover,
#btnInicio:hover{
background-color: rgb(198, 157, 237);
}
.btnVisualizar:hover{
    background-color: white;
}
#btnMultiplicarAB{
    margin-right:10%;
    width: 80%;
    border-radius: 20px;
    border-color:blueviolet;
    background-color:white;
}



#tablaHistorial{
    text-align: center;
    border: 1px black  solid;
}

#colTablaHist{
    border: 1px black solid;
    
}

 #celdaTitulo{
    border: 1px black solid;
    color: whitesmoke;
    background-color: rgb(88, 14, 137);
}

.celdaRes{
    border: 1px black solid;
    background-color: rgb(200, 161, 226);
    font-size: small;
}
.celdaRes-resultadoMatriz{
    border: 1px black solid;
    background-color: rgb(200, 161, 226);
    font-size: small;
    font-weight: bolder;
}

#titulo{
    text-align: center;
    font-size: larger;
    font-weight:bolder ;
}

#espacioOperacion{
    text-align: center;
    font-size: xxx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 0.7% ;
    padding-left: 0px;
    padding-right: 0px;
}

.celdaHistorial{
    border: solid, purple, 1px; 
    text-align: center;
    font-family: cursive;
    font-size: large;
    background-color: rgb(198, 157, 237);
}